@import 'src/app/styles/_variables.scss';

.post {
    display: flex;
    padding: 0 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid $thin-border-color;
}

.image_container {
    padding: 0 1rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 1px;
    height: 100%;
    background-color: $border-color;
}

.user_image {
    width: 3rem;
    height: auto;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.verified {
    width: 1rem;
    height: auto;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .header_data {
        display: flex;
        width: 15%;
        justify-content: space-between;
        height: 1rem;
    }

    .time_posted {
        color: rgb(99, 99, 99);
        font-size: 0.6rem;
        line-height: 1rem;
    }

    .menu {
        line-height: 0.5rem;
    }
}

.text {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}